<!DOCTYPE html>
<html>
<head>
    <title>mine sweeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/puzzle/slidingPuzzle.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>

</head>
<body ng-app="puzzleApp">

	<div ng-include="type"></div>


	<script type="text/ng-template" id="sliding-puzzle">

		<fieldset id="sliding-advanced" ng-controller="slidingAdvancedCtrl">
			<div ng-repeat="puzzle in puzzles">

				<div class="status">
					flags left: <strong>{{puzzle.api.mines}}</strong><br/>
				</div>
				<div class="smiley">
					<img ng-src="{{puzzle.api.face}}"/>
				</div>
				<div class="size">
					rows: <input type="text" ng-model="puzzle.rows" size="2"/>
					cols: <input type="text" ng-model="puzzle.cols" size="2"/><br/>
					mines: <input type="text" ng-model="puzzle.tot_num_of_mines" size="2"/><br/>
				</div>
				<sliding-puzzle api="puzzle.api" size="{{puzzle.rows}}x{{puzzle.cols}}x{{puzzle.tot_num_of_mines}}" src="{{puzzle.src}}"></sliding-puzzle>
			</div>
		</fieldset>
	</script>


</body>
</html>